@page "/about"
@model SportShop.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h1 class="text-center">
        About Us
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed purus lorem. In hac habitasse platea dictumst. Ut nec ipsum semper, rutrum ligula ac, molestie mauris. Etiam posuere est nec egestas scelerisque. Suspendisse dictum ullamcorper turpis at iaculis. Nullam dictum massa vitae metus malesuada, at imperdiet purus tincidunt. Vestibulum id risus auctor, efficitur orci quis, sollicitudin ante. Donec hendrerit ultricies felis, nec scelerisque odio.

        Sed porttitor augue sit amet imperdiet pretium. Praesent mollis dapibus erat, eu varius eros cursus sit amet. Vestibulum a elit at dolor interdum condimentum. Curabitur blandit vestibulum felis. Nam finibus ullamcorper erat, et pharetra tellus auctor ut. Donec sed arcu urna. Quisque molestie ligula sed magna eleifend aliquet viverra quis risus. Donec interdum erat quis magna tincidunt sagittis. Proin at ex ac libero imperdiet elementum. Nulla scelerisque, felis vitae pellentesque lacinia, urna turpis faucibus tellus, vel commodo dolor felis sagittis arcu. Ut eget nisl mauris.

        Vestibulum non nunc eu dui luctus vehicula ac ac nibh. Curabitur magna ante, consectetur et pulvinar vitae, aliquet vel magna. In hac habitasse platea dictumst. Nam gravida orci sed tincidunt vehicula. In sed neque massa. Fusce consequat nec leo sed molestie. Praesent eu tortor viverra, placerat nibh vitae, mattis lacus. Sed ac bibendum neque, id faucibus risus. In nunc nisl, ullamcorper at turpis non, dignissim hendrerit ex. Curabitur ultrices dictum felis vel varius. Praesent consectetur dictum feugiat. Suspendisse pharetra porttitor arcu at mattis. Fusce eu varius erat. Fusce sodales risus ut euismod ultrices. Morbi mauris orci, consectetur ullamcorper tincidunt vitae, tincidunt eu sem.

        Ut augue metus, auctor in risus quis, ultricies condimentum justo. Vivamus a feugiat urna, vitae molestie lectus. Donec efficitur nisi massa, vitae sollicitudin sem tempor nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas laoreet massa in porta vestibulum. Sed laoreet orci sit amet est fermentum, nec accumsan dui finibus. Ut ut gravida lacus. Nam suscipit, tortor quis iaculis ultricies, est nisl eleifend felis, at dapibus justo tellus non justo. Aliquam nec convallis purus. Quisque ultrices nunc nulla, eget commodo mi vestibulum non. Duis ante justo, scelerisque eget metus pretium, gravida ultrices neque.

        Quisque ullamcorper ex a augue interdum tincidunt sit amet ut mi. Etiam et mauris placerat, vestibulum nisl nec, vestibulum risus. Maecenas a placerat lectus, at tincidunt purus. Nullam vulputate libero nec bibendum efficitur. Nulla ornare lectus vitae elit porta vestibulum. Aenean egestas dui tortor, sit amet vulputate lacus viverra id. Nam convallis, est tincidunt viverra vehicula, nisl arcu molestie quam, eget luctus arcu mi eu dolor. Integer finibus, felis at mollis maximus, augue neque vulputate mi, molestie consequat odio risus eu metus. Aenean fringilla sit amet ipsum rhoncus ullamcorper. Etiam enim tellus, volutpat sit amet velit sed, scelerisque egestas tellus. Fusce nec ultrices ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Pellentesque dictum congue velit, id accumsan enim elementum at. Nulla semper, tortor eu pretium mollis, lacus elit vehicula magna, non tincidunt metus sapien vitae quam. Ut tincidunt venenatis malesuada.
    </p>
</div>