@page "/contacts"
@model SportShop.Pages.ContactsModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="container">
    <h1 class="text-center">
        Contacts
    </h1>

    <address>
        Ukraine, Sumy
        <br />
        WA 98052
        <br />
        Phone: +380998877666
    </address>

    <div class="container">
        <strong>Search in <a href="http://www.google.com">google</a></strong>
    </div>
</div>