@page "/developing"
@model SportShop.Pages.DevelopingModel
@{
    ViewData["Title"] = "In Developing...";
}

<div class="container">
    <img class="mx-auto d-block" src="~/images/development.png" />
    <h1 class="text-center">
        Current page is under developing...
    </h1>
</div>