@page
@model SportShop.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger text-center">Something went wrong...</h1>
    <p>@Model.Message</p>
</div>